@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  height: 100%;
}

body,
html {
  background-color: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  color: #f3efe0;
}

h1 {
  margin: 0;
}

select {
  background-color: #1a1a1a;
}